<div class="flex items-center gap-4 mt-2" [formGroup]="formGroup()">
  @if (hasOptions(type())) {
    @switch (type()) {
      @case ("check-boxes") {
        <i class="pi pi-check-square"></i>
      }

      @case ("radio") {
        <i class="pi pi-circle"></i>
      }

      @case ("drop-down") {
        <i class="pi pi-angle-down"></i>
      }
    }
    <input
      pInputText
      placeholder="Option"
      formControlName="label"
      class="w-full"
    />
  } @else {
    @switch (type()) {
      @case ("short-text") {
        <input pInputText disabled placeholder="User will enter short text" />
      }
      @case ("long-text") {
        <textarea
          pInputText
          rows="4"
          placeholder="User will enter long text"
          disabled
        ></textarea>
      }
      @case ("date") {
        <p-datepicker
          dateFormat="dd.mm.yy"
          disabled
          [showIcon]="true"
          [showOnFocus]="false"
        />
      }
      @case ("document") {
        <div class="flex gap-4 items-center">
          <p-fileupload
            mode="basic"
            disabled="true"
            name="demo[]"
            chooseIcon="pi pi-upload"
            accept=".pdf,.doc,.docx"
            maxFileSize="1000000"
            url="https://www.primefaces.org/cdn/api/upload.php"
            [auto]="true"
            chooseLabel="Upload document"
          />
          <span>User will upload a document</span>
        </div>
      }
    }
  }
  <div class="flex gap-1">
    <p-checkbox formControlName="isFlag" [binary]="true" inputId="flag" />
    <label for="flag" class="whitespace-nowrap">Red flag</label>
  </div>
  <p-inputNumber
    placeholder="Points"
    formControlName="points"
    [inputStyle]="{ width: '100px' }"
    [ngClass]="{'ng-invalid ng-dirty': formGroup().get('points')?.invalid && formGroup().get('points')?.touched,}"
  />
  @if (canRemove()) {
    <p-button
      icon="pi pi-trash"
      severity="danger"
      [text]="true"
      [rounded]="true"
      (click)="remove.emit()"
      title="Remove option"
    />
  }
</div>
