
<form [formGroup]="form" class="p-3 mt-3 bg-gray-100">
  <div>
    <div class="flex align-items-center gap-2 py-2">
        <span class="font-semibold white-space-nowrap">{{ questionId }}</span>
        <input pInputText placeholder="Question" formControlName="title" class="w-full" />
    </div>
    <div formArrayName="options" class="py-2 pl-6">
      
      @for (option of options.controls; let i = $index; track i) {
      <app-option [type]="type" [formGroup]="option"></app-option>
      } 
      @if (hasOptions(type)) {
        <p-button label="Add option" icon="pi pi-plus" styleClass="mt-3 text-sm" (click)="addOption()" variant="text"></p-button>
      }
    </div>
  </div>
  @if (hasOptions(type)) {
  <div class="py-3 flex flex-column">
    <span class="font-bold mb-2">Conditional logic</span>

    <div formArrayName="conditions" class="pl-6">
      <div
        class="flex flex-wrap align-items-center gap-2"
        *ngFor="let group of conditions.controls; let i = index"
        [formGroupName]="i"
      >
        <span>If</span>
        <p-select formControlName="answerId" placeholder="Select option" [options]="getAvailableConditionOptions(i)"/>
        <span>then open</span>
        <p-select formControlName="type" placeholder="Select" (onChange)="handleSelection(i)" [options]="['Section', 'Question']"/>
        <p-select formControlName="target" placeholder="Select" [options]="getTargetsForCondition(i)"/>
        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (click)="removeCondition(i)" title="Remove condition" severity="danger"/>
        
      </div>
      <p-button label="Add condition" icon="pi pi-plus" styleClass="mt-3 text-sm" [text]="true" (click)="addCondition()"/>
    </div>
  </div>
  }
  <div class="flex justify-content-end">
       <p-button (onClick)="handleCreateQestion()">Create</p-button>
  </div>
</form>
