<p-confirm-dialog></p-confirm-dialog>
<div style="min-height: 85vh" [cdkContextMenuTriggerFor]="menu.contextMenu">
  <p class="text-right mb-1 mt-8" style="font-size: 0.8rem">
    Naslovna-> Analitika i detekcija -> Upitnik
  </p>
  <div>
    <div class="flex justify-end mb-4">
      <p-button (click)="startQuestionnaire()" title="Start questionnaire">
        <i class="pi pi-play"></i>
      </p-button>
    </div>
    <app-context-menu
      [showQuestionOption]="activeSectionId !== null"
      #menu
      (action)="handleContextMenuAction($event, activeSectionId ?? 'S-001')"
    ></app-context-menu>

    <p-accordion
      (onOpen)="setActiveSection($event)"
      (onClose)="activeSectionId = null"
    >
      @for (
        section of questionnaireData();
        track section.sectionId;
        let index = $index
      ) {
        <p-accordion-panel [value]="index">
          <p-accordion-header>
            <div class="flex items-center gap-2 p-2">
              <p-button
                icon="pi pi-trash"
                text="true"
                severity="danger"
                (onClick)="handleDeleteSection($event, section.sectionId)"
              ></p-button>
              <span class="bg-primary text-primary-contrast p-1">{{
                section.sectionId
              }}</span>
              <span class="font-normal">{{ section.label }}</span>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <div class="ml-20 px-2 py-4 flex flex-col gap-8">
              @for (question of section.questions; track $index) {
                <app-question-item
                  [question]="question"
                  [sectionId]="activeSectionId || ''"
                ></app-question-item>
              }
              @if (
                showCreateQuestionForm &&
                newQuestionId &&
                activeSectionId === section.sectionId
              ) {
                <app-create-form
                  [sectionId]="section.sectionId"
                  [questionId]="newQuestionId"
                  [type]="questionType"
                  (onCreate)="closeCreateForm()"
                  (onCancel)="showCreateQuestionForm = false"
                ></app-create-form>
              }
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </div>
</div>

<p-dialog
  header="Create section"
  [(visible)]="showCreateSectionDialog"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div class="flex flex-col gap-4">
    <input
      pInputText
      placeholder="Section name"
      [(ngModel)]="newSectionLabel"
    />

    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="showCreateSectionDialog = false"
      />
      <p-button
        label="Create"
        [disabled]="!newSectionLabel.trim()"
        (click)="confirmCreateSection()"
      />
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Error"
  [(visible)]="showErrorDialog"
  [modal]="true"
  [style]="{ width: '400px' }"
  (onHide)="showErrorDialog = false"
>
  <div>
    <p class="text-center">
      Sections {{ sectionsWithoutQuestions }} doesn't have defined questions.
    </p>
  </div>
</p-dialog>
