<p-confirm-dialog></p-confirm-dialog>
<div>
  <p class="text-right mb-1 mt-5" style="font-size: 0.8rem;">Naslovna-> Analitika i detekcija -> Upitnik</p>
  <div>
    <div class="flex justify-content-end mb-3">
      <p-button (click)="startQuestionnaire()" title="Start questionnaire">
        <i class="pi pi-play"></i>
      </p-button>
    </div>
    <p-accordion (onOpen)="setActiveSection($event)">
      @for (section of questionnaireData; track section.sectionId; let index= $index) {
      <p-accordion-panel [value]="index">
        <p-accordion-header>
          <div class="flex align-items-center gap-2 p-2">
            <p-button icon="pi pi-trash" text="true" severity="danger" (onClick)="handleDeleteSection($event, section.sectionId)"></p-button>
            <span class="bg-primary p-1 text-white">{{ section.sectionId }}</span>
            <span class="font-normal">{{ section.label }}</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <app-context-menu
            #menu
            (action)="handleContextMenuAction($event, section.sectionId)"
          ></app-context-menu>
  
          <div class="ml-8 px-2 py-3 flex flex-column gap-5" [cdkContextMenuTriggerFor]="menu.contextMenu">
            @for (question of section.questions; track $index) { 
  
                <app-question-item [question]="question" [sectionId]="activeSectionId || ''"></app-question-item>
              
            } 
            @if ( showCreateQuestionForm && newQuestionId && activeSectionId === section.sectionId
            ) {
            <app-create-form
              [sectionId]="section.sectionId"
              [questionId]="newQuestionId"
              [type]="questionType"
              (onCreate)="closeCreateForm()"
            ></app-create-form>
            }
          </div>
        </p-accordion-content>

      </p-accordion-panel>

      }
    </p-accordion>
  </div>
</div>
