<div class="flex flex-col items-start gap-2">
  <p-fileupload
    mode="basic"
    chooseIcon="pi pi-upload"
    accept=".pdf,.doc,.docx"
    maxFileSize="1000000"
    [auto]="false"
    chooseLabel="Upload document"
    (onSelect)="onFileSelect($event)"
  />
  <div>
    <span class="text-secondary text-sm"> Supported formats: PDF, DOCX </span>

    @if (localAnswer()) {
      <span class="font-semibold">{{ localAnswer()?.name }}</span>
    }

    @if (answers()[0].points && isAdmin()) {
      <span class="bg-gray-200 ml-2 text-sm p-1 text-black/90 mb-1"
        >{{ answers()[0].points }}pt</span
      >
    }
  </div>
</div>
