<div class="flex flex-column px-1 gap-3">
  @for (answer of answers; track $index; let index = $index) {
  <div class="flex gap-2">
    <p-checkbox
      [binary]=" true"
      [ngClass]="{ 'checkbox--alert': answer.isFlag && showFlag }"
      (change)="toggle(answer.label)"
    />
    <label [for]="`checkbox-${index}`"> 
       {{ answer.label }} 
       @if(answer.isFlag && showFlag){
        <span class="bg-gray-200 ml-2 text-sm p-1 text-black-alpha-90">{{ answer.points }}pt</span>
      }
    </label>
  </div>
  }
</div>
