<div class="flex flex-column px-1 gap-3">
  @for (answer of answers; track $index) {
    <div class="flex gap-2">
      <p-checkbox
        [value]="answer.label"
        [(ngModel)]="currentAnswer"
        (onChange)="selected.emit(currentAnswer)"
      />
      <label>
        {{ answer.label }}
        @if (answer.isFlag && isAdmin) {
          <span class="bg-gray-200 ml-2 text-sm p-1 text-black-alpha-90">
            {{ answer.points }}pt
          </span>
        }
      </label>
    </div>
  }
</div>