<p class="text-right mb-1 mt-8" style="font-size: 0.8rem">
  Naslovna-> Ispunjavanje upitnika
</p>
<div class="bg-white p-4 rounded-border mt-4">
  @if (currentQuestion) {
      <app-question-item
        [answer]="currentAnswer"
        [question]="currentQuestion"
        [isAdmin]="false"
        (answered)="onAnswerChange($event)"
      ></app-question-item>

      <div class="flex flex-col gap-1 items-end mt-4">
        <div class="flex items-center gap-2">
          <p-button
            (click)="goBack()"
            [disabled]="!history.length"
            severity="secondary"
          >
            Back
          </p-button>

          <p-button (click)="goNext()" [disabled]="">Next</p-button>
        </div>
        @if (showError) {
          <small class="text-red-500">Enter answer first</small>
        }
      </div>
  }
</div>
